<h2>HR Processes Ddeduction Days</h2>
<a href="/HR/Index">Back</a>

<form action="/HR/HRDeductionDays" method="post">
    <label>Employee ID:</label>
    <input type="number" name="empID" required />
    <br /><br />
    <button type="submit">Proccess Deduction</button>
</form>