<h2>Admin Dashboard</h2>
<hr />
<div class="list-group" style="max-width: 400px;">
    <a href="/Admin/ViewAllEmployees" class="list-group-item list-group-item-action">
        View All Employee Profiles
    </a>

    <a href="/Admin/AddHoliday" class="list-group-item list-group-item-action">
        Add Official Holiday
    </a>

    <a href="/Admin/ViewDepartmentStats" class="list-group-item list-group-item-action">
        View Employees per Department
    </a>
    <a href="/Admin/ViewRejectedMedicalLeaves" class="list-group-item list-group-item-action list-group-item-danger">
        View Rejected Medical Leaves
    </a>
    <a herf="/Admin/ViewRejectedMedicalLeaves" class="list-group-item list-group-item-action">
        Remove deductions
    </a>
    <a class="list-group-item list-group-item-action">
        Update the attendance
    </a>
    <a class="list-group-item list-group-item-action">
        Initiate attendance
    </a>
</div>