<h2>Evaluate an Employee</h2>
<a href="/Employee/Index">Back</a>

<form method="POST" action="/Employee/EvaluateEmployee">
    <label>Employee ID: </label>
    <input type="number" name="empId" required />
    <br><br>
    <label>Rating: </label>
    <input type="number" name="rating" required/>
    <br><br>
    <label>Comment: </label>
    <input type="text" name="comment" required/>
    <br><br>
    <label>Semester: </label>
    <input type="text" name="semester" required />
    <br ><br >
    <button type="submit">Submit Evaluation</button>
</form>